<div class="container section-border section-border-spacing">
    <div class="row">
        <div class="col section-hdr">
            REQUESTOR
        </div>
    </div>
</div>

<div class="container section-border section-border-spacing">
    <div class="row">
        <div class="col certificate-hdr">
            BIRTH CERTIFICATE
        </div>
    </div>
</div>

<div class="container section-border section-border-spacing">
    <div class="row">
        <div class="col">
            Requestor Form
        </div>
    </div>
</div>

<div class="container section-border section-border-spacing">
    <div class="row navigation-row">
        <a routerLink="/cert-birth-terms/"><div class="navigation-spacing"><< PREVIOUS</div></a>
        <a routerLink="/cert-birth-registrant/"><div class="navigation-spacing">NEXT >></div></a>
    </div>
</div>
