<form [formGroup]="requestorFormGroup">
    <div class="container section-border section-border-spacing">
        <div class="row review-section">
            Birth Certificate: Requestor
        </div>
        <div class="row">
            <div class="col gen-info-spacing">
                General Information
                <hr class="gen-info">
            </div>
        </div>
        <div class="row">
            <div class="form-group-spacing">
                <label for="reqReason">Reason For Request</label>
                <input class="form-control form-control-sm" name="reqReason" id="reqReason" type="text" formControlName="reqReason">
            </div>
            <div class="form-group-spacing">
                <label for="reqRelationship">Relationship To Requestor</label>
                <input class="form-control form-control-sm" name="reqRelationship" id="reqRelationship" type="text" formControlName="reqRelationship">
            </div>
        </div>
        <div class="row">
            <div class="col gen-info-spacing">
                Contact Information
                <hr class="gen-info">
            </div>
        </div>
        <div class="row">
            <div class="form-group-spacing">
                <label for="reqFirstName">First Name</label>
                <input class="form-control form-control-sm" name="reqFirstName" id="reqFirstName" type="text" formControlName="reqFirstName">
            </div>
            <div class="form-group-spacing">
                <label for="reqMiddleName">Middle Name</label>
                <input class="form-control form-control-sm" name="reqMiddleName" id="reqM" type="text" formControlName="reqMiddleName">
            </div>
            <div class="form-group-spacing">
                <label for="reqLastName">Last Name</label>
                <input class="form-control form-control-sm" name="reqLastName" id="reqLastName" type="text" formControlName="reqLastName">
            </div>
        </div>
        <div class="row vfifteen">
            <div class="col">    
                <label for="reqAddress1">Address Line 1</label>
                <input class="form-control form-control-sm" name="reqAddress1" id="reqAddress1" type="text" formControlName="reqAddress1">
            </div>
        </div>
        <div class="row vfifteen">
            <div class="col">    
                <label for="reqAddress2">Address Line 2</label>
                <input class="form-control form-control-sm" name="reqAddress2" id="reqAddress2" type="text" formControlName="reqAddress2">
            </div>
        </div>
        <div class="row vfifteen">
            <div class="form-group-spacing">
                <label for="reqCity">City</label>
                <input class="form-control form-control-sm" name="reqCity" id="reqCity" type="text" formControlName="reqCity">
            </div>
            <div class="form-group-spacing">
                <label for="reqCounty">County</label>
                <input class="form-control form-control-sm" name="reqCounty" id="reqCounty" type="text" formControlName="reqCounty">
            </div>
            <div class="form-group-spacing">
                <label for="reqState">State</label>
                <input class="form-control form-control-sm twochar" maxlength="2" name="reqState" id="reqState" type="text" formControlName="reqState">
            </div>
            <div class="form-group-spacing col-xs-1">
                <label for="reqCountry">Country</label>
                <input class="form-control form-control-sm" maxlength="12" name="reqCountry" id="reqCountry" type="text" formControlName="reqCountry">
            </div>
            <div></div>
        </div>
        <div class="row vfifteen">
            <div class="form-group-spacing">
                <label for="reqPhone">Phone Number</label>
                <input class="form-control form-control-sm" name="reqPhone" id="reqPhone" type="text" formControlName="reqPhone">
            </div>
            <div class="form-group-spacing">
                <label for="reqEmail">Email</label>
                <input class="form-control form-control-sm" name="reqEmail" id="reqEmail" type="text" formControlName="reqEmail">
            </div>
            <div class="form-group-spacing">
                <label for="reqEmailConfirm">Email Confirmation</label>
                <input class="form-control form-control-sm" name="reqEmailConfirm" id="reqEmailConfirm" type="text" formControlName="reqEmailConfirm">
            </div>
        </div>
        <br>
    </div>
</form>
