<div class="container section-border section-border-spacing">
    <div class="row">
        <div class="col section-hdr">
            REQUESTOR
        </div>
    </div>
</div>

<div class="container section-border section-border-spacing">
    <div class="row">
        <div class="col certificate-hdr">
            BIRTH CERTIFICATE
        </div>
    </div>
</div>

<form [formGroup]="requestorFormGroup">
    <div class="container section-border section-border-spacing">
        <div class="row">
            <div class="col gen-info-spacing">
                GENERAL INFORMATION
                <hr class="gen-info">
            </div>
        </div>
        <div class="row">
            <div class="form-group-spacing">
                <label for="reqReason">Reason For Request</label>
                <input autofocus class="form-control form-control-sm" name="reqReason" id="reqReason" type="text" formControlName="reqReason">
                <div *ngIf="requestorFormGroup.controls['reqReason'].touched && requestorFormGroup.controls['reqReason'].invalid" class="alert alert-danger">
                    <div class="validation" *ngIf="requestorFormGroup.controls['reqReason'].errors.required">Request reason is required is required.</div>
                    <div class="validation" *ngIf="requestorFormGroup.controls['reqReason'].errors.minlength">Your response must be greater than 3 characters long.</div>
                </div>
            </div>
            <div class="form-group-spacing">
                <label for="reqRelationship">Relationship To Requestor</label>
                <input class="form-control form-control-sm" name="reqRelationship" id="reqRelationship" type="text" formControlName="reqRelationship">
                <div *ngIf="requestorFormGroup.controls['reqRelationship'].touched && requestorFormGroup.controls['reqRelationship'].invalid" class="alert alert-danger">
                    <div class="validation" *ngIf="requestorFormGroup.controls['reqRelationship'].errors.required">Relationship to person for whom you are requesting certificate required.</div>
                    <div class="validation" *ngIf="requestorFormGroup.controls['reqRelationship'].errors.minlength">Your response must be greater than 3 characters long.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col gen-info-spacing">
                CONTACT INFORMATION
                <hr class="gen-info">
            </div>
        </div>
        <div class="row">
            <div class="form-group-spacing">
                <label for="reqFirstName">First Name</label>
                <input class="form-control form-control-sm" name="reqFirstName" id="reqFirstName" type="text" formControlName="reqFirstName">
                <div *ngIf="requestorFormGroup.controls['reqFirstName'].touched && requestorFormGroup.controls['reqFirstName'].invalid" class="alert alert-danger">
                    <div class="validation" *ngIf="requestorFormGroup.controls['reqFirstName'].errors.required">First name required.</div>
                </div>
            </div>
            <div class="form-group-spacing">
                <label for="reqMiddleName">Middle Name</label>
                <input class="form-control form-control-sm" name="reqMiddleName" id="reqMiddleName" type="text" formControlName="reqMiddleName">
            </div>
            <div class="form-group-spacing">
                <label for="reqLastName">Last Name</label>
                <input class="form-control form-control-sm" name="reqLastName" id="reqLastName" type="text" formControlName="reqLastName">
                <div *ngIf="requestorFormGroup.controls['reqLastName'].touched && requestorFormGroup.controls['reqLastName'].invalid" class="alert alert-danger">
                    <div class="validation" *ngIf="requestorFormGroup.controls['reqLastName'].errors.required">Last name required.</div>
                </div>
            </div>
        </div>
        <div class="row vfifteen">
            <div class="col">    
                <label for="reqAddress1">Address Line 1</label>
                <input class="form-control form-control-sm" name="reqAddress1" id="reqAddress1" type="text" formControlName="reqAddress1">
                <div *ngIf="requestorFormGroup.controls['reqAddress1'].touched && requestorFormGroup.controls['reqAddress1'].invalid" class="alert alert-danger">
                    <div class="validation" *ngIf="requestorFormGroup.controls['reqAddress1'].errors.required">Address required.</div>
                </div>
            </div>
        </div>
        <div class="row vfifteen">
            <div class="col">    
                <label for="reqAddress2">Address Line 2</label>
                <input class="form-control form-control-sm" name="reqAddress2" id="reqAddress2" type="text" formControlName="reqAddress2">
            </div>
        </div>
        <div class="row vfifteen">
            <div class="form-group-spacing">
                <label for="reqCity">City</label>
                <input class="form-control form-control-sm" name="reqCity" id="reqCity" type="text" formControlName="reqCity">
                <div *ngIf="requestorFormGroup.controls['reqCity'].touched && requestorFormGroup.controls['reqCity'].invalid" class="alert alert-danger">
                    <div class="validation" *ngIf="requestorFormGroup.controls['reqCity'].errors.required">City required.</div>
                </div>
            </div>
            <div class="form-group-spacing">
                <label for="reqCounty">County</label>
                <input class="form-control form-control-sm" name="reqCounty" id="reqCounty" type="text" formControlName="reqCounty">
            </div>
            <div class="form-group-spacing">
                <label for="reqState">State</label>
                <input class="form-control form-control-sm twochar" maxlength="2" name="reqState" id="reqState" type="text" formControlName="reqState">
                <div *ngIf="requestorFormGroup.controls['reqState'].touched && requestorFormGroup.controls['reqState'].invalid" class="alert alert-danger">
                    <div class="validation" *ngIf="requestorFormGroup.controls['reqState'].errors.required">State required.</div>
                </div>
            </div>
            <div class="form-group-spacing col-xs-1">
                <label for="reqCountry">Country</label>
                <input class="form-control form-control-sm" maxlength="12" name="reqCountry" id="reqCountry" type="text" formControlName="reqCountry">
                <div *ngIf="requestorFormGroup.controls['reqCountry'].touched && requestorFormGroup.controls['reqCountry'].invalid" class="alert alert-danger">
                    <div class="validation" *ngIf="requestorFormGroup.controls['reqCountry'].errors.required">Country required.</div>
                </div>
            </div>
            <div></div>
        </div>
        <div class="row vfifteen">
            <div class="form-group-spacing">
                <label for="reqPhone">Phone Number</label>
                <input class="form-control form-control-sm" name="reqPhone" id="reqPhone" type="text" formControlName="reqPhone">
                <div *ngIf="requestorFormGroup.controls['reqPhone'].touched && requestorFormGroup.controls['reqPhone'].invalid" class="alert alert-danger">
                    <div class="validation" *ngIf="requestorFormGroup.controls['reqPhone'].errors.required">Phone required.</div>
                </div>
            </div>
            <div class="form-group-spacing">
                <label for="reqEmail">Email</label>
                <input class="form-control form-control-sm" name="reqEmail" id="reqEmail" type="text" formControlName="reqEmail">
                <div *ngIf="requestorFormGroup.controls['reqEmail'].touched && requestorFormGroup.controls['reqEmail'].invalid" class="alert alert-danger">
                    <div class="validation" *ngIf="requestorFormGroup.controls['reqEmail'].errors.required">Email required.</div>
                </div>
            </div>
            <div class="form-group-spacing">
                <label for="reqEmailConfirm">Email Confirmation</label>
                <input class="form-control form-control-sm" name="reqEmailConfirm" id="reqEmailConfirm" type="text" formControlName="reqEmailConfirm">
            </div>
        </div>
        <br>
    </div>
</form>
<div class="container section-border section-border-spacing">
    <div class="row navigation-row">
        <a routerLink="/birthForms/terms/"><div class="navigation-spacing"><< PREVIOUS</div></a>
        <a (click)="validateForm()"><div class="navigation-spacing">NEXT >></div></a>
    </div>
</div>
