<div class="container section-border section-border-spacing">
    <div class="row">
        <div class="col section-hdr">
            TERMS & CONDITIONS
        </div>
    </div>
</div>

<div class="container section-border section-border-spacing">
    <div class="row">
        <div class="col certificate-hdr">
            BIRTH CERTIFICATE
        </div>
    </div>
</div>

<div class="container">
    <div class="row section-border section-border-spacing-terms">
        <div class="col">
            Birth certificates are needed for a variety of reasons, including school/sports, passports, and driver license . As a Colorado government agency, we are authorized to issue birth certificates to you directly. You do not need to go through a third-party agency.
        </div>
    </div>
    <div class="row section-border section-border-spacing-terms">
        <div class="col">
            <h4>WHO CAN ORDER</h4>
            <p>Copies of Colorado Birth Certificates will only be issued to persons named on the record, 
            other members of the immediate family, a legal representative of the person named on the 
            record, or others demonstrating a direct and tangible interest in the record. Proof of 
            relationship or direct and tangible interest is required of anyone not named on the record.</p>

            <p>Photo ID (non expired) is require for all request. See eligibility and identification criteria 
            on upload your identification screen. Instructions will be provided at the time when you will upload your identification.
            Colorado law requires you to have a “tangible interest” in a person’s birth or death certificate before we release this 
            document to you. This helps protect against fraud by ensuring this personal information is only released to authorized 
            persons for legitimate reasons.</p>

            <p>By signing below, you acknowledge that you have a tangible interest in the documents 
            you are requesting, and are aware of the penalties for obtaining a birth or death certificate 
            under false pretenses. If you have additional questions, please feel free to call our office at 
            303-602-3660.</p>

            <p>BY CONTINUING, I UNDERSTAND Pursuant to Colorado Revised Statutes, 1982, 25-2-2118 
            and as defined by Colorado Board of Health Rules and regulations, applicant must have a 
            direct and tangible interest in the record requested. The penalties for obtaining a record 
            under false pretenses include a fine of not more than $1,000 or imprisonment in the county 
            jail for not more than one year or both such fine and imprisonment (CRS 25-2-2118).</p>

            <p>*By signing, I have read and understood that there are penalties for obtaining a 
            record under false pretenses.</p>
            <div>
                <app-signature-pad></app-signature-pad>
            </div>
        </div>
    </div>
</div>

<div class="container section-border section-border-spacing">
    <div class="row navigation-row">
        <a routerLink="/"><div class="navigation-spacing">CANCEL ORDER</div></a>
        <a routerLink="/birthForms/requestor/"><div class="navigation-spacing">NEXT >></div></a>
    </div>
</div>
