

<div class="container section-border section-border-spacing">
    <div class="row review-section">Birth Certificate: Documents</div>
    
    <form class="row" [formGroup]="stateFormGroup" (ngSubmit)="submitForm('stateDocFileName')">
        <div class="col-lg-3 showInfo">
            <button (click)="stateDocToggle()" class="btn btn-default btn3d">{{ stateDocBtnName }}</button>
        </div>

        <div *ngIf = "showStateDocForm; else showStateInfo" class="col-lg-9 upload-spacing">
            <ng-container class="cont-width">
                <nobr>       
                    <label for="name">Document Title&nbsp;</label>
                    <input 
                        formControlName="stateDocTitle"
                        id="stateDocTitle" 
                        type="text" 
                        class="input-sm">
                        &nbsp;&nbsp;
                          
                        <label for="file">File</label>
                    <input 
                        formControlName="stateDocFileName"
                        id="stateDocFileName" 
                        type="file" 
                        class="form-control-sm"
                        (change)="onStateFileChange($event)">
                                        
                    <button class="btn btn-primary btn-sml" type="submit">Upload File</button>
    
                    <div *ngIf="stateForm.stateDocTitle.touched && stateForm.stateDocTitle.invalid" class="alert alert-danger">
                        <div class="validation" *ngIf="stateForm.stateDocTitle.errors.required">Name is required.</div>
                        <div class="validation" *ngIf="stateForm.stateDocTitle.errors.minlength">Name should be 3 character.</div>
                    </div>
                                
                    <div *ngIf="stateForm.stateDocFileName.touched && stateForm.stateDocFileName.invalid" class="alert alert-danger">
                        <div class="validation" *ngIf="stateForm.stateDocFileName.errors.required">File is required.</div>
                    </div>                    
                </nobr>
                <pre>
                    STATE DOC TITLE
                    stateForm.stateDocTitle.value: {{ stateForm.stateDocTitle.value }}
                    stateForm.stateDocTitle.touched: {{ stateForm.stateDocTitle.touched }}
                    stateForm.stateDocTitle.invalid: {{ stateForm.stateDocTitle.invalid }}
                    
                    STATE DOC FILE NAME
                    stateForm.stateDocFileName.value: {{ stateForm.stateDocFileName.value }}
                    stateForm.stateDocFileName.touched: {{ stateForm.stateDocFileName.touched }}
                    stateForm.stateDocFileName.invalid: {{ stateForm.stateDocFileName.invalid }}
                </pre>
            </ng-container>
        </div>
        <ng-template #showStateInfo>
            <p><span class="line-break-after showInfo">Please provide a copy of your first document by clicking <i><strong>Upload State Document</strong></i> button</span>
                <span class="line-break-before">
                    <input type="checkbox" name="stateDocAbsent" id="stateDocAbsent" formControlName="stateDocAbsent"   data-md-icheck (change)="toggleVisibility($event,'state')"/>
                    Click here if you do not have digital copy of document available (office will contact you for more information)</span></p>
        </ng-template>
    </form>

    <form class="row" [formGroup]="firstFormGroup" (ngSubmit)="submitForm('firstDocFileName')">
        <div class="col-lg-3 showInfo">
            <button (click)="firstDocToggle()" class="btn btn-default btn3d">{{ firstDocBtnName }}</button>
        </div>

        <div *ngIf = "showFirstDocForm; else showFirstInfo" class="col-lg-9 upload-spacing">
            <ng-container class="cont-width">
                <nobr>       
                    <label for="name">Document Title&nbsp;</label>
                    <input 
                        formControlName="firstDocTitle"
                        id="firstDocTitle" 
                        type="text" 
                        class="input-sm">
                        &nbsp;&nbsp;
                          
                        <label for="file">File</label>
                    <input 
                        formControlName="firstDocFileName"
                        id="firstDocFileName" 
                        type="file" 
                        class="form-control-sm"
                        (change)="onFirstFileChange($event)">
                                        
                    <button class="btn btn-primary btn-sml" type="submit">Upload File</button>
    
                    <div *ngIf="firstForm.firstDocTitle.touched && firstForm.firstDocTitle.invalid" class="alert alert-danger">
                        <div class="validation" *ngIf="firstForm.firstDocTitle.errors.required">Name is required.</div>
                        <div class="validation" *ngIf="firstForm.firstDocTitle.errors.minlength">Name should be 3 character.</div>
                    </div>
                                
                    <div *ngIf="firstForm.firstDocFileName.touched && firstForm.firstDocFileName.invalid" class="alert alert-danger">
                        <div class="validation" *ngIf="firstForm.firstDocFileName.errors.required">File is required.</div>
                    </div>                    
                </nobr>
                <pre>
                    FIRST DOC TITLE
                    firstForm.firstDocTitle.value: {{ firstForm.firstDocTitle.value }}
                    firstForm.firstDocTitle.touched: {{ firstForm.firstDocTitle.touched }}
                    firstForm.firstDocTitle.invalid: {{ firstForm.firstDocTitle.invalid }}
                    
                    FIRST DOC FILE NAME
                    stateForm.firstDocFileName.value: {{ firstForm.firstDocFileName.value }}
                    stateForm.firstDocFileName.touched: {{ firstForm.firstDocFileName.touched }}
                    stateForm.firstDocFileName.invalid: {{ firstForm.firstDocFileName.invalid }}
                </pre>
            </ng-container>
        </div>
        <ng-template #showFirstInfo>
            <p><span class="line-break-after showInfo">Please provide a copy of your first document by clicking <i><strong>Upload First Document</strong></i> button</span>
                <span class="line-break-before">
                    <input type="checkbox" name="firstDocAbsent" id="firstDocAbsent" formControlName="firstDocAbsent"   data-md-icheck (change)="toggleVisibility($event,'first')"/>
                    Click here if you do not have digital copy of document available (office will contact you for more information)</span></p>
        </ng-template>
    </form>

    <form class="row" [formGroup]="secondFormGroup" (ngSubmit)="submitForm('secondDocFileName')">
        <div class="col-lg-3 showInfo">
            <button (click)="secondDocToggle()" class="btn btn-default btn3d">{{ secondDocBtnName }}</button>
        </div>

        <div *ngIf = "showSecondDocForm; else showSecondInfo" class="col-lg-9 upload-spacing">
            <ng-container class="cont-width">
                <nobr>       
                    <label for="name">Document Title&nbsp;</label>
                    <input 
                        formControlName="secondDocTitle"
                        id="secondDocTitle" 
                        type="text" 
                        class="input-sm">
                        &nbsp;&nbsp;
                          
                        <label for="file">File</label>
                    <input 
                        formControlName="secondDocFileName"
                        id="secondDocFileName" 
                        type="file" 
                        class="form-control-sm"
                        (change)="onSecondFileChange($event)">
                                        
                    <button class="btn btn-primary btn-sml" type="submit">Upload File</button>
    
                    <div *ngIf="secondForm.secondDocTitle.touched && secondForm.secondDocTitle.invalid" class="alert alert-danger">
                        <div class="validation" *ngIf="secondForm.secondDocTitle.errors.required">Name is required.</div>
                        <div class="validation" *ngIf="secondForm.secondDocTitle.errors.minlength">Name should be 3 character.</div>
                    </div>
                                
                    <div *ngIf="secondForm.secondDocFileName.touched && secondForm.secondDocFileName.invalid" class="alert alert-danger">
                        <div class="validation" *ngIf="secondForm.secondDocFileName.errors.required">File is required.</div>
                    </div>                    
                </nobr>
                <pre>
                    SECOND DOC TITLE
                    secondForm.secondDocTitle.value: {{ secondForm.secondDocTitle.value }}
                    secondForm.secondDocTitle.touched: {{ secondForm.secondDocTitle.touched }}
                    secondForm.secondDocTitle.invalid: {{ secondForm.secondDocTitle.invalid }}
                    
                    SECOND DOC FILE NAME
                    secondForm.secondDocTitle.value: {{ secondForm.secondDocTitle.value }}
                    secondForm.secondDocTitle.touched: {{ secondForm.secondDocTitle.touched }}
                    secondForm.secondDocTitle.invalid: {{ secondForm.secondDocTitle.invalid }}
                </pre>
            </ng-container>
        </div>
        <ng-template #showSecondInfo>
            <p><span class="line-break-after showInfo">Please provide a copy of your second document by clicking <i><strong>Upload Second Document</strong></i> button</span>
                <span class="line-break-before">
                    <input type="checkbox" name="secondDocAbsent" id="secondDocAbsent" formControlName="secondDocAbsent" data-md-icheck (change)="toggleVisibility($event,'second')"/>
                    Click here if you do not have digital copy of document available (office will contact you for more information)</span></p>
        </ng-template>
    </form>