<div class="container section-border section-border-spacing">
    <div class="row">
        <div class="col section-hdr">
            DOCUMENTS
        </div>
    </div>
</div>

<div class="container section-border section-border-spacing">
    <div class="row">
        <div class="col certificate-hdr">
            BIRTH CERTIFICATE
        </div>
    </div>
</div>

<div class="container section-border section-border-spacing">
    <div class="row">
        <div class="col-lg-3 showInfo">
            <button (click)="stateDocToggle()" class="btn btn-default btn3d">{{ stateDocBtnName }}</button>
        </div>
        <div *ngIf = "showStateDocForm; else showStateInfo" class="col-lg-9 upload-spacing">
            <ng-container>
                <form [formGroup]="stateFormGroup" (ngSubmit)="submit()">
                    <label for="name">Document Title&nbsp;</label>
                    <input 
                        formControlName="stateDocTitle"
                        id="stateDocTitle" 
                        type="text" 
                        class="input-sm">
                        &nbsp;&nbsp;
                          
                        <label for="file">File</label>
                    <input 
                        formControlName="stateDocFileName"
                        id="stateDocFileName" 
                        type="file" 
                        class="form-control-sm"
                        (change)="onStateFileChange($event)">
                                         
                    <button class="btn btn-primary btn-sml" type="submit">Upload File</button>
    
                    <div *ngIf="stateForm.stateDocTitle.touched && stateForm.stateDocTitle.invalid" class="alert alert-danger">
                        <div class="validation" *ngIf="stateForm.stateDocTitle.errors.required">Name is required.</div>
                        <div class="validation" *ngIf="stateForm.stateDocTitle.errors.minlength">Name should be 3 character.</div>
                    </div>
                                
                    <div *ngIf="stateForm.stateDocFileName.touched && stateForm.stateDocFileName.invalid" class="alert alert-danger">
                        <div *ngIf="stateForm.stateDocFileName.errors.required">File is required.</div>
                    </div>
                </form> 
            </ng-container>
        </div> 
        <ng-template #showStateInfo>
            <p><span class="line-break-after showInfo">Please provide a copy of your State Issued ID by clicking <i><strong>Upload State Document</strong></i> button</span>
            <span class="line-break-before">
                <input type="checkbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                Click here if you do not have digital copy of document available (office will contact you for more information)</span></p>
        </ng-template>
    </div>

    <div class="row">
        <div class="col-lg-3 showInfo">
            <button (click)="firstDocToggle()" class="btn btn-default btn3d">{{ firstDocBtnName }}</button>
        </div>
        <div *ngIf = "showFirstDocForm; else showFirstInfo" class="col-lg-9 upload-spacing">
            <ng-container>
                <form [formGroup]="firstFormGroup" (ngSubmit)="submit()">
                    <label for="name">Document Title&nbsp;</label>
                        <input 
                            formControlName="firstDocTitle"
                            id="firstDocTitle" 
                            type="text" 
                            class="input-sm">
                            &nbsp;&nbsp;
                      
                        <label for="file">File</label>
                        <input 
                            formControlName="firstDocFileName"
                            id="firstDocFileName" 
                            type="file" 
                            class="form-control-sm"
                            (change)="onFirstFileChange($event)">
                                     
                            <button class="btn btn-primary btn-sml" type="submit">Upload File</button>

                            <div *ngIf="firstForm.firstDocTitle.touched && firstForm.firstDocTitle.invalid" class="alert alert-danger">
                                <div class="validation" *ngIf="firstForm.firstDocTitle.errors.required">Name is required.</div>
                                <div class="validation" *ngIf="firstForm.firstDocTitle.errors.minlength">Name should be 3 character.</div>
                            </div>
                            
                            <div *ngIf="firstForm.firstDocFileName.touched && firstForm.firstDocFileName.invalid" class="alert alert-danger">
                                <div *ngIf="firstForm.firstDocFileName.errors.required">File is required.</div>
                            </div>
                </form>         
            </ng-container>
        </div>
        <ng-template #showFirstInfo>
            <p><span class="line-break-after showInfo">Please provide a copy of your first document by clicking <i><strong>Upload First Document</strong></i> button</span>
                <span class="line-break-before">
                    <input type="checkbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                    Click here if you do not have digital copy of document available (office will contact you for more information)</span></p>
        </ng-template>
    </div>
    <div class="row">
        <div class="col-lg-3 showInfo">
            <button (click)="secondDocToggle()" class="btn btn-default btn3d">{{ secondDocBtnName }}</button>
        </div>
        <div *ngIf = "showSecondDocForm; else showSecondInfo" class="col-lg-9 upload-spacing">
            <ng-container>
                <form [formGroup]="secondFormGroup" (ngSubmit)="submit()">
                    <label for="name">Document Title&nbsp;</label>
                        <input 
                            formControlName="secondDocTitle"
                            id="secondDocTitle" 
                            type="text" 
                            class="input-sm">
                            &nbsp;&nbsp;
                      
                        <label for="file">File</label>
                        <input 
                            formControlName="secondDocFileName"
                            id="secondDocFileName" 
                            type="file" 
                            class="form-control-sm"
                            (change)="onSecondFileChange($event)">
                                     
                            <button class="btn btn-primary btn-sml" type="submit">Upload File</button>

                            <div *ngIf="secondForm.secondDocTitle.touched && secondForm.secondDocTitle.invalid" class="alert alert-danger">
                                <div class="validation" *ngIf="secondForm.secondDocTitle.errors.required">Name is required.</div>
                                <div class="validation" *ngIf="secondForm.secondDocTitle.errors.minlength">Name should be 3 character.</div>
                            </div>
                            
                            <div *ngIf="secondForm.secondDocFileName.touched && secondForm.secondDocFileName.invalid" class="alert alert-danger">
                                <div *ngIf="secondForm.secondDocFileName.errors.required">File is required.</div>
                            </div>
                </form>         
            </ng-container>
        </div>
        <ng-template #showSecondInfo>
            <p><span class="line-break-after showInfo">Please provide a copy of your second document by clicking <i><strong>Upload Second Document</strong></i> button</span>
                <span class="line-break-before">
                    <input type="checkbox"  data-md-icheck (change)="toggleVisibility($event)"/>
                    Click here if you do not have digital copy of document available (office will contact you for more information)</span></p>
        </ng-template>
    <br>
    </div>
</div>


<div class="container section-border section-border-spacing">
    <div class="row navigation-row">
        <a routerLink="/forms/registrant/"><div class="navigation-spacing"><< PREVIOUS</div></a>
        <a routerLink="/forms/review/"><div class="navigation-spacing">NEXT >></div></a>
    </div>
</div>
