<div class="container section-border section-border-spacing">
    <div class="row">
        <div class="col section-hdr">
            BIRTH CERTIFICATE
        </div>
    </div>
</div>

<div class="container section-border section-border-spacing">
    <div class="row">
        <div class="col certificate-hdr">
            CHECKOUT
        </div>
    </div>
</div>

<div class="container section-border section-border-spacing">
    <div class="row">
        <div class="col">
            <p>Billing</p>
            <p>Shipping</p>
            <p>Payment</p>
        </div>
    </div>
</div>

<div class="container section-border section-border-spacing">
    <div class="row navigation-row">
        <a routerLink="/forms/cart/"><div class="navigation-spacing"><< PREVIOUS</div></a>
        <a routerLink="/"><div class="navigation-spacing">CANCEL ORDER</div></a>
        <a routerLink="/forms/thank-you/"><div class="navigation-spacing">PLACE ORDER</div></a>
    </div>
</div>

