<div class="container section-border-spacing">
    <div class="row">
        <div class="col section-hdr">
            VITAL RECORDS
        </div>
    </div>
</div>

<div class="container section-border section-border-spacing">
    <div class="row">
        <div class="col certificate-hdr">
            CERTIFICATE ORDER PORTAL
        </div>
    </div>
</div>

<div class="container section-border section-border-spacing">
    <div class="row justify-content-center">
        <div class="col-4-lg ml-3 vcenter">
            <div class="card vcenter" style="width: 18rem; height:20rem">
                <img src="../../../assets/images/mother.svg" 
                style="width: 60px; height: 75px"
                class="card-img-top center">
                <div class="center-text">
                    <h5 class="card-title">Birth Certificate</h5>
                </div>
                <p class="card-text">
                    Birth certificates are needed for a variety of reasons, including 
                    shchool/sports, passports, and driver license.
                </p>
                <a routerLink="/cert-birth-terms/" class="btn btn-outline-primary">Order</a>
            </div>
        </div>
        <div class="col-4-lg ml-3 vcenter">
            <div class="card vcenter" style="width: 18rem; height:20rem">
                <img src="../../../assets/images/tomb-death.svg" 
                style="width: 60px; height: 75px" 
                class="card-img-top center">
                <div class="center-text">
                    <h5 class="card-title">Death Certificate</h5>
                </div>
                <p class="card-text">
                    Death certificates are typically needed after the passing of a loved one.
                </p>
                <a routerLink="/" class="btn btn-outline-primary">Order</a>
            </div>
        </div>
        <div class="col-4-lg ml-3 vcenter">
            <div class="card vcenter" style="width: 18rem; height:20rem">
                <img src="../../../assets/images/heart.svg" 
                style="width: 60px; height: 75px"
                class="card-img-top center">
                <div class="center-text">
                    <h5 class="card-title">Marriage Certificate</h5>
                </div>
                <p class="card-text">
                    COMING SOON
                </p>
                <a routerLink="/" class="btn btn-outline-primary">Marriage Certificate</a>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>