/* Set the border color */ 

.bkgrnd-clr { 
    background-color: #DEE4DE; 
}

/* Set the border color */ 
          
.custom-toggler.navbar-toggler { 
    border-color: black; 
} 
/* Setting the stroke to green using rgb values (0, 128, 0) */ 
  
.navbar-toggler-icon { 
    background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='1.8' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
} 

.custom:hover {
    /* styling while the mouse is hovering */
    color: rgb(172, 172, 171);
    background-color: yellow; 
}

span.a {
    display: block;
    width: 100%;
    height: 27px;
    /* border: 1px solid rgb(172, 172, 171); */
    padding-top: 1px;
  }

  .section-border{
    border: 1px;
    border-style: solid;
    border-color: rgb(209, 212, 209);
  }

  .section-border-spacing{
    margin-bottom: 1px;
    margin-top: 1px;
  }


.navbar-static-top
{
    width:100%;
}



.section-hdr{
    background-color: #785BA5; 
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif; 
}

.certificate-hdr{
    background-color: white; 
    text-align: center;
    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif; 
}

.display-row{
    background-color: rgb(179, 175, 175); 
    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif; 
    height: 300px;
    text-align: center;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center-text{
    text-align: center;
}

.card{
    padding: 15px;
    border: none;
    position: relative;
}

.card-text{
    height: 100px;
}

.btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary:visited, .btn-outline-primary:focus, .btn-outline-primary:active:focus {
    background-color: white;
    color: black;
}

.btn-outline-primary:hover{
    background-color: rgb(187, 157, 224);
    color: white;
}

button:hover{
    filter:invert(100%);  
}