<div class="container section-border">
    <div class="row">
    <nav class="navbar navbar-expand-md bkgrnd-clr navbar-static-top">
        <span class="navbar-brand mb-0 h1">
            <img width="230px" height="30px"src="/assets/images/dhlogo.png">
        </span>
        <button class="navbar-toggler ml-auto custom-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse right">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Create an account <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Proceed as guest</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</div>
    
<div class="container section-border">
    <div class="row">
        <img src="../../assets/images/skyline.png" width=100% height=100%>
    </div>
</div>

<div class>
    before<router-outlet></router-outlet>after
</div> 

<div>
    <app-footer></app-footer>
</div>

<div class="container section-border">
    <div class="row center clearfix bkgrnd-clr no-scroll">
        <app-info-footer></app-info-footer>
    </div>
</div>