<!-- <div class="container-fluid sub-footer">
    <p>Footer</p>
</div> -->


<div class="container section-border-spacing">
    <div class="row sub-center footer">
        <div class="col">Denver Health</div>
        <div class="col text-center">
                <a href="http://facebook.com/"><i class="fa fa-facebook"></i></a>
                <a href="http://linkedin.com/"><i class="fa fa-linkedin"></i></a>
                <a href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                <a href="http://plus.google.com/"><i class="fa fa-google"></i> </a>
        </div>
        <div class="col text-right">777 Bannock street, Denver CO 80204</div>
    </div>
</div>