<form [formGroup]="sigFormGroup">
<div class="signature-pad">
  <div class="signature-pad--body">
    <canvas #sPad width="500" height="125" style="touch-action: none;"></canvas>
    <div class="alert alert-danger" *ngIf="sigFormGroup.controls['signature'].errors?.required">Please sign above and click Save.</div>
  </div>
</div>
<input hidden class="form-control form-control-sm" name="signature" id="signature" formControlName="signature">
<br>
<br>
<section class="container-fluid">
    <div class="row">
      <div class="col-4">
        <button class="btn btn-block btn-danger" (click)="clear()">Clear</button>
      </div>
        <div class="col-4">
        <button class="btn btn-block btn-warning" (click)="undo()">Undo</button>
      </div>
      <div class="col-4">
        <button class="btn btn-block btn-success" (click)="savePNG()">Save</button>
      </div>
    </div>
</section>
</form>
