<div class="container section-border section-border-spacing">
    <div class="row">
        <div class="col section-hdr">
            BIRTH CERTIFICATE
        </div>
    </div>
</div>

<div class="container section-border section-border-spacing">
    <div class="row">
        <div class="col certificate-hdr">
            INFORMATION SNAPSHOT
        </div>
    </div>
</div>

<div class="container section-border section-border-spacing">
    <div class="row">
        <div class="col">
            Review All Data
        </div>
    </div>
</div>

<div class="container section-border section-border-spacing">
    <div class="row navigation-row">
        <a routerLink="/cert-birth-documents/"><div class="navigation-spacing"><< PREVIOUS</div></a>
        <a routerLink="/checkout/"><div class="navigation-spacing">NEXT >></div></a>
    </div>
</div>
