<div class="container bkgrnd-clr">
  
    <button onclick="topFunction()" id="to-top" title="Go to top">Top</button>

    <div class="col-xs-12 col-sm-6 col-md-3" >
      
    </div>

    <div class="row bkgrnd-clr">

      <div class="col-xs-12 col-sm-6 col-md-3" >

          <span class="nowrap">Vital Records Office</span>
          <div class="footer-size xborder">
          120 W. 5th Avenue<br>
          Denver, CO 80204<br>
          Tel: (303) 602-3660<br>
          Fax: (303) 602-3665<br>
          <span class="nowrap">Email: certificates@dhha.org</span><br>
        </div>
      </div>    

      <div class="col-xs-12 col-sm-6 col-md-3" >
        <ul>
          <li class="col-headingx">About Us</li>
          <li><a href="#">DHHS Contact</a></li>
          <li><a href="#">Regulations</a></li>
        </ul>
      </div>      

      <div class="col-xs-12 col-sm-6 col-md-3" >
        <ul>
          <li class="col-headingx">Certificates</li>
          <li><a href="#">Certificate Types</a></li>
          <li><a href="#">Certificate Requirements</a></li>
          <li><a href="#">Link to page</a></li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3" >
        <ul>
          <li class="col-headingx">Certificates</li>
          <li><a href="#">Certificate Types</a></li>
          <li><a href="#">Requirements</a></li>
          <li><a href="#">Link to page</a></li>
        </ul>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3" >
      
      </div>
  
    </div> <!--  end row  -->
  </div> <!--  end container-fluid  -->