<div class="container section-border section-border-spacing">
    <div class="row">
        <div class="col section-hdr">
            SHOPPING CART
        </div>
    </div>
</div>

<div class="container section-border section-border-spacing">
    <div class="row">
        <div class="col certificate-hdr">
            MY ORDER
        </div>
    </div>
</div>

<div class="container section-border section-border-spacing">
    <div class="row">
        <div class="col">
            Order Information
        </div>
    </div>
</div>

<div class="container section-border section-border-spacing">
    <div class="row">
        <div class="col">
            certificate navigation
        </div>
    </div>
</div>