<div class="container section-border section-border-spacing">
    <div class="row">
        <div class="col section-hdr">
            SHOPPING CART
        </div>
    </div>
</div>

<div class="container section-border section-border-spacing">
    <div class="row">
        <div class="col certificate-hdr">
            MY ORDER
        </div>
    </div>
</div>

<div class="container section-border section-border-spacing">
    <div class="row">
        <div class="col">
            <p>Certificate being ordered</p>
            <p>Shipping type</p>
        </div>
    </div>
</div>

<div class="container section-border section-border-spacing">
    <div class="row navigation-row">
        <a routerLink="/birthForms/review/"><div class="navigation-spacing"><< PREVIOUS</div></a>
        <a routerLink="/checkout/"><div class="navigation-spacing">NEXT >></div></a>
    </div>
</div>