<form [formGroup]="registrantFormGroup">
    <div class="container section-border section-border-spacing">
        <div class="row review-section">Birth Certificate: Registrant</div>
        <div class="row">
            <div class="col gen-info-spacing">
                Name On Certificate
                <hr class="gen-info">
            </div>
        </div>
        <div class="row">
            <div class="form-group-spacing">
                <label for="regCertsReqd"># Certificates Requested</label>
                <input class="form-control form-control-sm twochar" maxlength="2" name="regCertsReqd" id="regCertsReqd" type="text" formControlName="regCertsReqd">
            </div>
        </div>
        <div class="row vfifteen">
            <div class="form-group-spacing">
                <label for="regFirstName">First Name</label>
                <input class="form-control form-control-sm" name="regFirstName" id="regFirstName" type="text" formControlName="regFirstName">
            </div>
            <div class="form-group-spacing">
                <label for="regMiddleName">Middle Name</label>
                <input class="form-control form-control-sm" name="regMiddleName" id="regMiddleName" type="text" formControlName="regMiddleName">
            </div>
            <div class="form-group-spacing">
                <label for="lastName">Last Name</label>
                <input class="form-control form-control-sm" name="regLastName" id="regLastName" type="text" formControlName="regLastName">
            </div>
        </div>
        <div class="row">
            <div class="col gen-info-spacing">
                Birth Information
                <hr class="gen-info">
            </div>
        </div>
        <div class="row vfifteen">
            <div class="form-group-spacing">
                <label for="regDob">Date Of Birth</label>
                <input class="form-control form-control-sm" name="regDob" id="regDob" type="text" formControlName="regDob">
            </div>
            <div class="form-group-spacing">
                <label for="regGenderId">Gender Identity</label>
                <input class="form-control form-control-sm" name="regGenderId" id="regGenderId" type="text" formControlName="regGenderId">
            </div>
        </div>
            <div class="row vfifteen">
                <div class="form-group-spacing">
                    <label for="regCity">City</label>
                    <input class="form-control form-control-sm" name="regCity" id="regCity" type="text" formControlName="regCity">
                </div>
                <div class="form-group-spacing col-xs-1">
                    <label for="regCounty">County</label>
                    <input class="form-control form-control-sm" name="regCounty" id="regCounty" type="text" formControlName="regCounty">
                </div>
                <div class="form-group-spacing col-xs-1">
                    <label for="regState">State</label>
                    <input class="form-control form-control-sm twochar" maxlength="2" name="regState" id="regState" type="text" formControlName="regState">
                </div>
            </div>
            
        <div class="row">
            <div class="col gen-info-spacing">
                Death Information
                <hr class="gen-info">
            </div>
        </div>
        <div class="row">
            <div class="col gen-info-spacing">
                Is this person deceased?
                <div class="radio-inline">
                    <input value="true" formControlName="regDeceased" type="radio"/>
                    <label class="radio-label"> Yes</label>&nbsp;&nbsp;
                    <input value="false" formControlName="regDeceased" type="radio"/>
                    <label class="radio-label">No</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col gen-info-spacing">
                Parent Information
                <hr class="gen-info">
            </div>
        </div>
        <div class="row vfifteen">
            <div class="form-group-spacing">
                <label for="regFirstName1">Parent 1 First Name</label>
                <input class="form-control form-control-sm" name="regFirstName1" id="regFirstName1" type="text" formControlName="regFirstName1">
            </div>
            <div class="form-group-spacing">
                <label for="regMiddleName1">Parent 1 Middle Name</label>
                <input class="form-control form-control-sm" name="regMiddleName1" id="regMiddleName1" type="text" formControlName="regMiddleName1">
            </div>
            <div class="form-group-spacing">
                <label for="regLastName1">Parent 1 Last Name</label>
                <input class="form-control form-control-sm" name="regLastName1" id="regLastName1" type="text" formControlName="regLastName1">
            </div>
            <div class="form-group-spacing">
                <label for="regSuffix1">Parent 1 Suffix</label>
                <input class="form-control form-control-sm" name="regSuffix1" id="regSuffix1" type="text" formControlName="regSuffix1">
            </div>
        </div>
        <div class="row vfifteen">
            <div class="form-group-spacing">
                <label for="regFirstName2">Parent 2 First Name</label>
                <input class="form-control form-control-sm" name="regFirstName2" id="regFirstName2" type="text" formControlName="regFirstName2">
            </div>
            <div class="form-group-spacing">
                <label for="regMiddleName2">Parent 2 Middle Name</label>
                <input class="form-control form-control-sm" name="regMiddleName2" id="regMiddleName2" type="text" formControlName="regMiddleName2">
            </div>
            <div class="form-group-spacing">
                <label for="regLastName2">Parent 2 Last Name</label>
                <input class="form-control form-control-sm" name="regLastName2" id="regLastName2" type="text" formControlName="regLastName2">
            </div>
            <div class="form-group-spacing">
                <label for="regSuffix2">Parent 2 Suffix</label>
                <input class="form-control form-control-sm" name="regSuffix2" id="regSuffix2" type="text" formControlName="regSuffix2">
            </div>
        </div>
        <br>
    </div>
</form>