<div class="container section-border section-border-spacing">
    <div class="row">
        <div class="col section-hdr">
            REGISTRANT
        </div>
    </div>
</div>

<div class="container section-border section-border-spacing">
    <div class="row">
        <div class="col certificate-hdr">
            BIRTH CERTIFICATE
        </div>
    </div>
</div>

<div class="container section-border section-border-spacing">
    <div class="row">
        <div class="col">
            Registrant Form
        </div>
    </div>
</div>

<div class="container section-border section-border-spacing">
    <div class="row navigation-row">
        <a routerLink="/cert-birth-requestor/"><div class="navigation-spacing"><< PREVIOUS</div></a>
        <a routerLink="/cert-birth-documents/"><div class="navigation-spacing">NEXT >></div></a>
    </div>
</div>
