<div class="container section-border section-border-spacing">
    <div class="row">
        <div class="col section-hdr">
            TERMS & CONDITIONS
        </div>
    </div>
</div>

<div class="container section-border section-border-spacing">
    <div class="row">
        <div class="col certificate-hdr">
            DEATH CERTIFICATE
        </div>
    </div>
</div>

<div class="container section-border section-border-spacing">
    <div class="row">
        <div class="col">
            Not implemented 
        </div>
    </div>
</div>
